<form class="ink-form edit-form">
  <div class="column-group gutters">
    <div class="all-33">
    </div>
    <div class="control-group all-33 form-main">
      <label for="species">Species Name</label>
      <div class="control">
        <input type="text" [(ngModel)]="editAnimal.species" name="species">
      </div>
      <label for="common">Common Name</label>
      <div class="control">
        <input type="text" name="common" id="common" required [(ngModel)]="editAnimal.commonName">
      </div>
      <label for="nickname">Nickname</label>
      <div class="control">
        <input type="text" name="nickname" id="nickname" required [(ngModel)]="editAnimal.name">
      </div>
      <label for="age">Age</label>
      <div class="control">
        <input type="number" name="age" id="age" required step="1" [(ngModel)]="editAnimal.age" #age>
      </div>
      <br>
      <label for="diet">Diet</label>
      <select #diet>
        <option name="diet" [value]="Herbivore">
           <p>Herbivore
             <span class="fa fa-leaf"></span>
           </p>
         </option>
        <option name="diet" [value]="Carnivore">
          <p>Carnivore
            <span class="fa fa-cutlery"></span>
          </p>
        </option>
        <option name="diet" [value]="Insectivore">
          <p>Insectivore
            <span class="fa fa-bug"></span>
          </p>
        </option>
        <option name="diet"
         [value]="Frugivore">
         <p>Frugivore
           <span class="fa fa-apple"></span>
         </p>
       </option>
      </select>
      <br>
      <br>
      <label for="location">Location</label>
      <div class="control">
        <input type="text" name="location" id="location" [(ngModel)]="editAnimal.location">
      </div>
      <label for="caretaker">Caretakers Required</label>
      <div class="control">
        <input type="number" name="caretaker" id="caretaker" required step="1" [(ngModel)]="editAnimal.caretakerCount">
      </div>
      <div class="control">
        <fieldset>
        <legend>Sex</legend>
        <div class="control-group">
            <p class="label">Please select one of these options</p>
            <ul class="control unstyled">
                <li><<input type="radio" [(ngModel)]="editAnimal.sex" name="sex" [value]="Male"><label for="rb1">Male</label></li>
                <li><input type="radio" id="rb2" name="rb" value="Queen of Diamonds"><label for="rb2">Queen of Diamonds</label></li>
                <li><input type="radio" id="rb3" name="rb" value="Queen of Spades"><label for="rb3">Queen of Spades</label></li>
                <li><input type="radio" id="rb4" name="rb" value="Jack of Hearts"><label for="rb4">Jack of Hearts</label></li>
                <li><input type="radio" id="rb5" name="rb" value="King of Clubs"><label for="rb5">King of Clubs</label></li>
            </ul>
        </div>
    </fieldset>
      <label for="sex">Sex</label><br>
          <input type="radio" [(ngModel)]="editAnimal.sex" name="sex" [value]="Male"><br> Male <span class="fa fa-male"></span><br>
          <input type="radio" name="sex" [(ngModel)]="editAnimal.sex" [value]="Female"><br>Female <span class="fa fa-female"></span><br>
          <input type="radio" name="sex" [(ngModel)]="editAnimal.sex" [value]="Not-Applicable"><br>Not Applicable <span class="fa fa-genderless"></span><br>
      </div>
      <label for="likes">Likes</label>
      <div class="control">
        <input type="text" name="likes" id="likes" [(ngModel)]="editAnimal.likes">
      </div>
      <label for="dislikes">Dislikes</label>
      <div class="control">
        <input type="text" name="dislikes" id="dislikes"  [(ngModel)]="editAnimal.dislikes">
      </div>
      <label for="profile-url">Profile Picture URL</label>
      <div class="control">
        <input type="text" name="profile-url" id="profile-url" required step="1" [(ngModel)]="editAnimal.profilePicURL">
      </div>
      <br>
      <button type="submit" name="button" class="ink-button blue" (click)="finishUpdate()"> <span class="fa fa-check">
      </span>
       Done Editing</button>
    </div>
    <div class="all-33">
    </div>
  </div>
</form>
