<nav class="ink-navigation">
  <ul class="menu horizontal black">
    <!-- <li class="heading active"><a href="#">Home</a></li> -->
    <li class="heading">
      <a href="#">Filter Options</a>
      <ul class="submenu dropdown">
        <li>
          <a (click)="applyFilter('', '')">All</a>
        </li>
        <li>
          <a (click)="applyFilter('young', '')">Young</a>
        </li>
        <li>
          <a (click)="applyFilter('mature', null)">Mature</a>
        </li>
        <li class="submenu">
          <a href="#">Species</a>
          <!-- <div class="ink-navigation"> -->
            <ul class="dropdown">
              <div *ngFor="let currentSpecies of getUniqueSpecies(masterAnimalArray)">
                <li>
                  <a (click)="applyFilter('species', currentSpecies)">
                    {{currentSpecies}}
                  </a>
                </li>
              </div>
            </ul>
          <!-- </div> -->
        </li>
        <li><a href="#">Diet</a></li>
      </ul>
    </li>
    <li class="heading"><a (click)="displayNewForm()">Add New Animal <span class="fa fa-plus"></span> </a></li>
  </ul>
</nav>

<app-animals-display [childAnimalList]="masterAnimalArray" *ngIf="displayAniamls" [childFilterString]="filterString" [childIdentityString]="identityString" (editAnimalSender)="editAnimal($event)"></app-animals-display>
<app-edit-animal *ngIf="displayEdit" [editAnimal]="animalToBeEdited" (editAnimalSender)="endEdit()"></app-edit-animal>

<app-add-animal *ngIf="displayNew" (newAnimalSender)="addAnimal($event)"></app-add-animal>
